<!-- Always shows a header, even in smaller screens. -->
<div id="top-nav" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a class="mdl-navigation__link title-link" href="/">
                <span class="mdl-layout-title">PetriNets</span>
            </a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/producer-consumer.html">Producer - Consumer</a>
                <a class="mdl-navigation__link" href="/split-join.html">Split - Join</a>
                <a class="mdl-navigation__link" href="/traffic-lights.html">Traffic Lights</a>
                <a class="mdl-navigation__link" href="/traffic-lights.html">Pawel's Net</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">PetriNets</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/producer-consumer.html">Producer - Consumer</a>
            <a class="mdl-navigation__link" href="/split-join.html">Split - Join</a>
            <a class="mdl-navigation__link" href="/traffic-lights.html">Traffic Lights</a>
            <a class="mdl-navigation__link" href="/traffic-lights.html">Pawel's Net</a>
        </nav>
    </div>
</div>
<br><br><br>