<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <a class="mdl-navigation__link title-link" href="/">
            <span class="mdl-layout-title">PetriNet.org</span>
        </a>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/petrinets/producer-consumer.html">Producer - Consumer</a>
            <a class="mdl-navigation__link" href="/petrinets/split-join.html">Split - Join</a>
            <a class="mdl-navigation__link" href="/petrinets/traffic-lights.html">Traffic Lights</a>
            <a class="mdl-navigation__link" href="/petrinets/pawels-net.html">Pawel's Net</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">PetriNets.org</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/petrinets/producer-consumer.html">Producer - Consumer</a>
        <a class="mdl-navigation__link" href="/petrinets/split-join.html">Split - Join</a>
        <a class="mdl-navigation__link" href="/petrinets/traffic-lights.html">Traffic Lights</a>
        <a class="mdl-navigation__link" href="/petrinets/pawels-net.html">Pawel's Net</a>
    </nav>
</div>
