<!doctype html>
<html>
<!-- head -->
{% include head.html %}
<!-- scripts -->
{% include scripts.html %}
{% include pnet-viewer.html %}
<body id="top">

    <div id="top-nav" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <!-- nav -->
        {% include top-nav.html %}
        <main class="mdl-layout__content">
            <div class="page-content">
                {% for petrinet in site.petrinets %}
                    <div class="title-cont" id="{{petrinet.net.title}}">
                        <a href="/#{{ petrinet.net.title }}">
                            <h3 class="inner">
                                {{ petrinet.title }}
                            </h3>
                        </a>
                    </div>
                    <div class="content-grid mdl-grid nets-container">
                        <div class="vert-align text-center mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                            <!-- insert net here -->
                            <petrinet-viewer id="pn-{{petrinet.net.title}}"></petrinet-viewer>
                            <script>
                            var netInfo = {{ petrinet.net | jsonify }}
                            var title = "pn-{{petrinet.net.title}}"

                            for (var i = 0; i < netInfo.net.transitions.length; i++) {
                                netInfo.net.transitions[i].x += netInfo.xShift || 0; 
                                netInfo.net.transitions[i].y += netInfo.yShift || 0; 
                            }

                            renderNet("#" + title, netInfo);
                            </script>
                        </div>
                        <div class="vert-align mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                            {{ petrinet.content }}
                            <!-- net description -->
                        </div>
                    </div>
                {% endfor %}

                <div style="padding: 40px">
                    {{ content }}

                </div>
            </div>
        </main>
    </div>
</body>

</html>
