<!doctype html>
<html>
{% include head.html %}
{% include scripts.html %}
{% include pnet-viewer.html %}
<body id="top">
    <div id="top-nav" class="mdl-layout mdl-layout--fixed-header">
        <!-- nav -->
        {% include top-nav.html %}
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="content-grid mdl-grid nets-container">
                    <div class="mdl-cell mdl-cell--12-col">
                      <h3>{{page.title}}</h3>
                            <petrinet-viewer id="{{page.title}}"></petrinet-viewer>
                            <!-- <script>
                            var netInfo = {{ page.net | jsonify}}
                            var title = "{{page.title}}"
                              renderNet(title, netInfo)
                            </script> -->
                            <script>
                            var netInfo = {{ page.net | jsonify}}
                            var title = "{{page.title}}"
                            var isChromium = window.chrome;
                            var winNav = window.navigator;
                            var vendorName = winNav.vendor;
                            var isOpera = typeof window.opr !== "undefined";
                            var isIEedge = winNav.userAgent.indexOf("Edge") > -1;
                            var isIOSChrome = winNav.userAgent.match("CriOS");

                            for (var i = 0; i < netInfo.net.transitions.length; i++) {
                                netInfo.net.transitions[i].x += netInfo.xShift || 0; 
                                netInfo.net.transitions[i].y += netInfo.yShift || 0; 
                            }

                            if (isIOSChrome) {
                              // is Google Chrome on IOS
                            } else if(
                              isChromium !== null &&
                              typeof isChromium !== "undefined" &&
                              vendorName === "Google Inc." &&
                              isOpera === false &&
                              isIEedge === false
                            ) {
                              // is Google Chrome
                              renderNet(title, netInfo);
                            } else {
                              // not Google Chrome
                              insertNet(netInfo.net.places, netInfo.net.transitions, netInfo.net.marking, 13)
                            }
                            </script>
                        {{ content }}
                    </div>
                </div>
            </div>
        </main>
    </div>
    <a href="{{site.github.repository_url}}/edit/master/{{page.path}}">Edit this page</a>
</body>

</html>
